@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap");

body {
    font-family: "Open Sans", sans-serif;
}

header {
    font-family: "Montserrat", sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

.background-color {
    background-color: rgba(0, 0, 0, 0.4);
}


/* Nav */

/* Index */

.title {
    font-size: 80px;
    font-family: "Montserrat", sans-serif;
}

/* code from love running project modified */

#hero-image {
    height: 800px;
    max-width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
}

/* centering text code from "https://stackoverflow.com/questions/34739570/hero-image-text-overlay-moves-around-on-browser-resize" */

#hero-text {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    transform: translate(-50%, -50%);
    padding-top: 20px;
    padding-bottom: 20px;
}

#hero-text h1 {
    margin-bottom: 75px;
}

/* Footer */

.social-links {
    text-align: center;
}

.social-links li {
    display: inline;
}

.social-links i {
    font-size: 200%;
    margin: 10px;
    padding: 1px;
    color: #fff;
}

.social-links i:hover {
    color:#ffae91 ;
}

footer {
    text-align: center;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.opening-times {
    list-style: none;
    text-align: start;
    margin-left: 200px;
}

.btn-success {
    padding: 0.1rem 0.25rem;
}

/* Menu-page */

.menu-image {
    max-height: 500px;
}

.menu-text {
    text-align: center;
    color: black;
    padding: 30px;
}

.menu-text h1 {
    font-size: 25px;
}

@media (min-width: 768px) {
    .contain-image {
        height: 500px;
        width: 500px;
        padding: 40px;
        margin: 0;
    }
}

/* Contact-page */

#googlemaps {
    width: 60%;
    height: 60%;
}

form {
    border: #fff;
    border-radius: 2px;
    padding: 40px;
}

.contact-us {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.find-us {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.address {
    text-align: center;
}
